<a href="https://colab.research.google.com/github/410550049/Introduction-to-Computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("a")

a

In [4]:
i = range(5)
print(type(i))
print(i)

<class 'range'>
range(0, 5)

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [6]:
j = range(10)
print(j)
print(type(j))
print(list(j))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [9]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [10]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [11]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [12]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [17]:
f = range(9)
print(list(f))
g = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))
i = range(10,1,-2)
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [15]:
for n in range(3):
    print(n, end = ",")

0,1,2,

In [16]:
for n in range(10):
    print(n, end = ",")

0,1,2,3,4,5,6,7,8,9,

In [20]:
test = int(input("請輸入一個正整數:"))
for n in range(1,a+1):
    print(n, end = " ")

請輸入一個正整數5
1 2 3 4 5

In [21]:
test2 = int(input("請輸入一個正整數:"))
for m in range(1,test2+1,2):
    print(m, end = " ")

請輸入一個正整數:10
1 3 5 7 9

In [22]:
sum = 0
for n in range(3):
    sum = sum+n
print(sum)

3

In [23]:
sum = 0
for n in range(10):
    sum = sum+n
print(sum)

45

In [25]:
a = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1,a+1):
    sum = sum+n
print("1到",a,"的整數和為",sum)

請輸入一個正整數:10
1到 10 的整數和為 55

In [26]:
a = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1,a+1):
    sum = sum+n
print("1到",a,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [44]:
num = int(input("請輸入一個正整數:"))
sum = 0
for m in range(1,num+1):
    sum = sum+m
    print("1到",m,"的整數和為:",str(sum))

請輸入一個正整數:10
1到 1 的整數和為: 1
1到 2 的整數和為: 3
1到 3 的整數和為: 6
1到 4 的整數和為: 10
1到 5 的整數和為: 15
1到 6 的整數和為: 21
1到 7 的整數和為: 28
1到 8 的整數和為: 36
1到 9 的整數和為: 45
1到 10 的整數和為: 55